/*
title{
 font-family: Century Gothic;
 font-size:800 px; 
 color: white;
 background-color: #696969;
}
li{
 font-family: Century Gothic;
 color: white;
 background-color: #696969; 
}
*/

<script language="javascript">
B=document.all;C=document.layers;
T1=new Array("http://www.beepworld2.de/memberdateien/members5/ollisucht/sonne.gif",35,35)
nos=parseInt(T1.length/3)
file://rate=100000
